.title-word {
  animation: color-animation 3s forwards infinite;
  transition: color 0.3s ease-out;
}

.title-word-1 {
  --color-1: #3c6568;
  --color-2: #406271;
  --color-3: #2e3b3e;
}

.title-word-2 {
  --color-1: #2d567167;
  --color-2: #383f48;
  --color-3: #17494D;
}
/* @keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
} */
@keyframes color-animation {
  0%    {color: var(--color-1)}
  33%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}
.container {
  display: grid;
  place-items: center;  
  text-align: center;
  height: 100vh
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 8.5vw;
  text-transform: uppercase;
}